{% extends "base.html" %}
{% block content %}
    <div class="container mt-4 ms-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb fs-4">
                <li class="breadcrumb-item">
                    <a href="{% url 'home' %}" class="text-decoration-none text-black"><i class="bi bi-house-door-fill"> </i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
            </ol>
        </nav>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card border-black">
                    <div class="card-body">
                        <div class="mb-3 ">
                            <img src="{{ user.image.url }}"
                                 class="rounded-circle d-block mx-auto"
                                 style="width: 180px;
                                        height:130px"
                                 alt="...">
                        </div>
                        <h5 class="card-title text-center mb-4">User Profile</h5>
                        <div class="mb-3">
                            <label class="form-label fw-bold text-me-4 ">Username</label>
                            <p class="border-bottom pb-2 border-black">{{ user.username }}</p>
                        </div>
                        <div class="mb-3 ">
                            <label class="form-label fw-bold">First Name</label>
                            <p class="border-bottom pb-2 border-black">{{ user.first_name }}</p>
                        </div>
                        <div class="mb-3">
                            <label class="form-label fw-bold">Last Name</label>
                            <p class="border-bottom pb-2 border-black">{{ user.last_name }}</p>
                        </div>
                        <div class="mb-3">
                            <label class="form-label fw-bold">Last Login</label>
                            <p class="border-bottom pb-2 border-black">{{ user.last_login }}</p>
                        </div>
                        <div class="mb-3">
                            <label class="form-label fw-bold">Date Join</label>
                            <p class="border-bottom pb-2 border-black">{{ user.date_joined }}</p>
                        </div>
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <button type="button"
                                    class="btn btn-primary btn-sm"
                                    data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade"
         id="exampleModal"
         tabindex="-1"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Update Profile</h1>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <form action="{% url 'profile_update' user.id %}"
                      method="post"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-body">{{ form.as_p }}</div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success btn-sm">Update Profile</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
