

{% extends "forget_base.html" %}
{% block title %}
Password Rest
{% endblock title%}

{% block h1%}
Password Rest
{% endblock h1%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h3>Reset Your Password</h3>
                    <p>Enter your email address below, and we’ll send you an email to reset your password.</p>
                    
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="email" class="form-label">Email:</label>
                            <input type="email" class="form-control w-100" id="email" name="email" placeholder="Enter your email" required>
                        </div>
                        <div class="text-center">
                            <a href="{% url 'login'%}" class="btn btn-primary">Back</a>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>







{% endblock %}
